{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">

    Enterprise AI Operations Center

</h2>

<!-- METRICS ROW -->
<div class="row mb-4">

    <div class="col-md-3">

        <div class="card shadow border-0">

            <div class="card-body">

                <h6>Total Jobs</h6>

                <h2 id="totalJobs">0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-0">

            <div class="card-body">

                <h6>Processing</h6>

                <h2 id="processingJobs">0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-0">

            <div class="card-body">

                <h6>Completed</h6>

                <h2 id="completedJobs">0</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow border-0">

            <div class="card-body">

                <h6>Failed</h6>

                <h2 id="failedJobs">0</h2>

            </div>

        </div>

    </div>

</div>


<!-- LIVE JOBS -->
<div class="row">

    <div class="col-md-7">

        <div class="card shadow border-0">

            <div class="card-body">

                <h5 class="mb-3">

                    Live Processing Jobs

                </h5>

                <table class="table table-hover table-striped"></table>

                    <thead>


                        <tr>

                            <th>File</th>
                            <th>Status</th>
                            <th>Retries</th>
                            <th>Created</th>

                        </tr>

                    </thead>

                    <tbody id="recentJobsTable">

                    </tbody>

                </table>

            </div>

        </div>

    </div>


    <!-- AUDIT LOGS -->
    <div class="col-md-5">

        <div
    class="card shadow border-0"
    style="min-height: 350px;"
    >

            <div class="card-body">

                <h5 class="mb-3">

                    Recent Audit Events

                </h5>

                <ul
                    class="list-group overflow-auto"
                    id="auditLogsList"
                    style="max-height: 300px;"
                >

                </ul>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for(
    'static',
    filename='js/dashboard.js'
) }}"></script>

{% endblock %}